@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/image.css);
@import url(./__caption/lead__caption.css);

.lead {
    position: relative;
    max-width: 985px;
    max-width: 100%;
}