.cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: white;
    grid-row: 2 / 2;
    justify-self: center;
    align-self: self-end;
    text-align: center;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 700px) {
    .cover__title {
        font-size: 48px;
        line-height: 52px;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}